.head {
    height: 61px;
    width: 100%;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* position: absolute;   */
}

.loge {
    height: 40px;
    width: 200px;
    /* background: url(../images/new-logo-white.png) no-repeat; */
    background: url(../assets/images/new-logo-white2.png) no-repeat;
    display: block;
    margin-top: 15px;
    margin-left: 20px;
}

.nav {
    width: 400px;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 59px;
}

.nav a {
    color: #000;
    text-decoration: none;
    margin-left: 30px;
    display: inline-block;
}

.nav a:hover {
    color: #00bdff;
    font-weight: bold;
}

.nav a.on {
    color: #00bdff;
    border-bottom: 3px solid #00bdff;
    font-size: 20px;
}

.btnLoginAndRegister {
    /* background-color: rgb(250, 214, 146); */
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    margin-top: 20px;
}

.btnLoginAndRegister:hover {
    background-color: orange;
}

/* API内容介绍 */
.introduce {
    /* width: 100%; */
    height: 500px;
    /* background-color: #000;  */
    position: absolute;
}

.introduce .pic {
    width: 300px;
    height: 300px;
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pic img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}

.pic .id {
    width: 70px;
    height: 70px;
    /* background-color: red; */
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
}

.pic .lianjie {
    width: 70px;
    height: 70px;
    /* background-color: red; */
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    left: 90px;
}

.pic .collection {
    width: 70px;
    height: 70px;
    /* background-color: red; */
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    left: 180px;
}

.pic span p {
    color: #d5d5d5;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.introduceWord {
    width: 850px;
    height: 300px;
    /* background: red; */
    position: relative;
    left: 350px;
    bottom: 200px;
}

.tag {
    height: 30px;
    width: 850px;
    margin-bottom: 10px;
}

.tag p {
    color: #00bdff;
    border: 1px solid #00bdff;
    width: 85px;
    height: 20px;
    float: left;
    margin-left: 20px;
    text-align: center;
}

.limit {
    height: 30px;
    width: 850px;
    margin-bottom: 10px;
}

.limit p {
    display: inline-block;
    margin-right: 40px;
    color: #fda334;
}

.grade {
    height: 60px;
    width: 850px;
}

.qrcode {
    background: url(../assets/images/API17.jpg) no-repeat 5px center;
    height: 30px;
    width: 100px;
    border: 1px solid #00bdff;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
}

.qrcode-img {
    position: absolute;
    left: -5px;
    top: 28px;
    color: #666;
    text-align: center;
    transition: all 0.5s;
    height: 0;
    overflow: hidden;
    /* width: 120px; */
}

.qrcode:hover .qrcode-img {
    content: "";
    height: 200px;
}

.qrcode-img img {
    width: 120px;
    height: 120px;
}

.grade .qrcode,
.one,
.two,
.three {
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #00bdff;
    width: 100px;
    margin-top: 20px;
}

.introduceWord button {
    background-color: #00bdff;
    color: #fff;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

.active {
    color: red;
    font-size: 20px;
}

.lijisq {
    border: 0;
}