.indexBanner {
    width: 100%;
    height: 800px;
    /* background: url(../images/banner1.png) no-repeat center; */
}
.head {
    height: 61px;
    width: 100%;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* position: absolute;   */
}
.loge {
    height: 40px;
    width: 200px;
    /* background: url(../images/new-logo-white.png) no-repeat; */
    background: url(../assets/images/new-logo-white2.png) no-repeat;
    display: block;
    margin-top: 15px;
    margin-left: 20px;
}
.nav {
    width: 300px;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 59px;
}
.nav a {
    color: #000;
    text-decoration:none;
    margin-left: 30px;
    display: inline-block;
}
.nav a:hover{
    color: #0061cd;
    font-weight: bold;
}
.nav a.on {
    color: #0061cd;
    border-bottom: 3px solid #0061cd;
    font-size: 20px;
}
.btnLoginAndRegister {
    /* background-color: rgb(250, 214, 146); */
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    margin-top: 20px;
}
.btnLoginAndRegister:hover {
    background-color: orange;
}
.API_fenlei h2 {
    margin: 20px 0;
}
.fenlei_list a {
    border: 1px solid #0061cd;
    margin-right: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px;
    padding: 5px 5px;
    display: inline-block;
}
.bold {
    font-weight: bold;
}
/* 主体内容 */
.main {
        height: 550px;
        margin-top: 20px;
}
.main ul{
    display: flex;  /* 弹性布局 */
    justify-content: space-between; /* 两边自动排列 */
    flex-direction:row; /* 横向布局 */
    flex-wrap: wrap; /*  必要时拆分*/
}
.main li {
    height: 250px;
    width: 220px;
    border: 1px solid #000;
    margin-bottom: 20px;
    /* background-color: red; */
}
.main li img {
    position: relative;
    top: 50px;
    left: 33%;
}
.main li p {
    position: relative;
    top: 70px;
    text-align: center;
}
.main li h4 {
    position: relative;
    top: 90px;
    text-align: center;
    color: #ff556c;
}
.main .special h4{
    color: #3cc792;
}
.main .special {
    background: url(../assets/images/API03.jpg) no-repeat top left;
    
}