.indexBanner {
    width: 100%;
    height: 800px;
    /* background: url(../images/banner1.png) no-repeat center; */
}
.head {
    height: 61px;
    width: 100%;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}
.loge {
    height: 40px;
    width: 200px;
    /* background: url(../images/new-logo-white.png) no-repeat; */
    background: url(../assets/images/new-logo-white.png) no-repeat;
    display: block;
    margin-top: 15px;
    margin-left: 20px;
}
.nav {
    width: 300px;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 59px;
}
.nav a {
    color: #fff;
    text-decoration:none;
    margin-left: 30px;
    display: inline-block;
}
.nav a.on {
    border-bottom: 3px solid #fff;
}
.btnLoginAndRegister {
    /* background-color: rgb(250, 214, 146); */
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin-top: 20px;
}
.btnLoginAndRegister:hover {
    background-color: orange;
}
.head .btnLoginAndRegister a{
    color: #fff;
}
.indexBanner .swiper {
    width: 100%;
    height: 680px;
}
.swiper .slide1{
    /* background: url(../images/banner1.png) no-repeat center top; */
    background: url(../assets/images/banner1.png) no-repeat center top;
}
.swiper .slide2{
    background: url(../assets/images/banner2.png) no-repeat center top;
}
.swiper .slide3{
    background: url(../assets/images/banner3.png) no-repeat center top;
}
.swiper-button-prev {
    background-color: rgb(248, 245, 177);
    margin-left: 15px;
}
.swiper-button-next {
    background-color: rgb(248, 245, 177);
    margin-right: 15px;
}
.cloudServices {
    height: 400px; 
    text-align: center;
    padding-bottom: 100px;
    background-color: #fff;
}
.introduce a {
    line-height: 70px;
    text-decoration: none;
    color: #0061cd;
}
.servicesFunction {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.servicesFunction div{
    width: 240px;
    height: 300px;
    background-color: #fff;
    margin-left: 20px;
    box-shadow: 5px 5px 15px -5px #0061cd;
}
.servicesFunction a {
    text-decoration: none;
    color: #0061cd;
    margin-bottom: 0px;
}
.servicesFunction p {
    margin-bottom: 20px;
    margin-top: 10px;
}
.field {
    background-color: #eee;
    background: #f8f9fb url(../assets/images/more-api-bg.svg) no-repeat top center;
    height: 700px;
}
.field .introduce  {
    text-align: center;
}
.field p  {
    text-align: center;
    padding-top: 10px;
}   
.field a  {
    text-align: center;
    text-decoration: none;
    color: #0061cd;
    padding-top: 20px;
}
.field h1 {
    padding-top: 100px;
    margin-bottom: 20px;
}
.fieldSome {
    width: 1200px;
}
.field_1,.field_2 {
    display: flex;
    justify-content: space-between;
}
.field_2{
    margin-top: 50px;
}
.fieldDetailed {
    width: 200px;
    height: 100px;
    padding-top: 40px;
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 5px 15px -5px #0061cd;
}
.field_1 li{
    width: 200px;
    height: 100px;
    padding-top: 40px;
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 5px 15px -5px #0061cd;
}
.field_1 li:hover{
    background-color: #0061cd;
    color: #fff;
    cursor: pointer;  
}
.field_2 li{
    width: 200px;
    height: 100px;
    padding-top: 40px;
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 5px 15px -5px #0061cd;
}
.field_2 li:hover{
    background-color: #0061cd;
    color: #fff;    
    cursor: pointer;
}
.diLianJie {
    clear: both;
    padding-top: 40px;
}
.master {
    height: 840px;
    background: white;
}
.masterWord {
    text-align: center;
}
.masterWord h1 {
    padding-top: 100px;
    margin-bottom: 20px;  
}
.masterWord p  {
    padding-top: 10px;
    margin-bottom: 30px;
} 
.masterWord a  {
    text-decoration: none;
    color: #0061cd; 
}
.masterDetailedImg {
    background: url(../assets/images/master-left-bg.svg);
    width: 613px;
    height: 596px;
    margin-right: 50px;
}
/* .masterDetailedContent li::after {
    content: "";
    position: relative;
    left: 0;
    top: 25%;
    width: 3px;
    height: 35px;
    background-color: #0061cd;
} */
/* .masterDetailedContent li {
    width: 520px;
    height: 50px;

    background-color: #fbfbfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
    justify-content:space-between;
} */
/* .masterDetailedContent img {
    width: 30px;
    margin-left: 20px;
    position: relative;
    left: 0;
    top: 20px;
    display: inline-block;
} */
/* .masterDetailedContent p {
    margin-left: 20px;
    text-align: center;

} */
.masterDetailedContent {
    position: relative;
}
.masterDetailedContent li {
    width: 520px;
    height: 65px;
    background: #fbfbfd;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-left: 5px;
    box-sizing: border-box;
}
.masterDetailedContent_1 ::before {
    content: '';
    position: absolute;
    top: 18px;
    left: -4px;
    width: 3px;
    height: 30px;
    background-color: #0061cd;
}
.masterDetailedContent_2 ::before {
    content: '';
    position: absolute;
    top: 123px;
    left: -4px;
    width: 3px;
    height: 30px;
    background-color: #0061cd;
}
.masterDetailedContent_3 ::before {
    content: '';
    position: absolute;
    top: 228px;
    left: -4px;
    width: 3px;
    height: 30px;
    background-color: #0061cd;
}
.masterDetailedContent_4 ::before {
    content: '';
    position: absolute;
    top: 333px;
    left: -4px;
    width: 3px;
    height: 30px;
    background-color: #0061cd;
}
.masterDetailedContent_5 ::before {
    content: '';
    position: absolute;
    top: 438px;
    left: -4px;
    width: 3px;
    height: 30px;
    background-color: #0061cd;
}
.masterDetailedContent_6 ::before {
    content: '';
    position: absolute;
    top: 543px;
    left: -4px;
    width: 3px;
    height: 30px;
    background-color: #0061cd;
}
.masterDetailedContent img {
    display: inline-block;

}
.masterDetailedContent p {
    display: inline-block;
}
.swiper {
    width: 600px;
    height: 300px;
}
.backTop {
    display: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    /* background-color: black; */
    position: fixed;
    top: 600px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    background: url(../assets/images/returntopicon.jpg);
    background-position: -156px -48px;
    border-radius: 25px;
}
.backTop:hover {
    background-position: -156px -96px;
}

.aid {
    background-color: #f8f9fb;
    width: 100%;
    height: 600px;
}
.aidWord {
    text-align: center;
}
.aidWord h1 {
    padding-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}
.aidWord a {
    color: #0061cd;
    padding-top: 20px;
}
.aid .swiper {
    width: 1200px;
    height: 300px;
    box-sizing: border-box;
}
.onelf {
    width: 600px;
    height: 300px;
    background-image: url(../assets/images/hcfc.png);
}
.twolf {
    width: 600px;
    height: 300px;
    background-image: url(../assets/images/sznsyh.png);
}
.threelf {
    width: 600px;
    height: 300px;
    background-image: url(../assets/images/zhylian.png);
}
.onerg {
    margin-left: 50px;
    margin-top: 50px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.banxin {
    width: 1200px;
    margin: 0 auto;
}
.yinghao {
    position: absolute;
    left: 650px;
    top: 0;
}
.swiper-slide p {
    position: absolute;
    left: 650px;
    top: 80px;
}
.swiper-slide a {
    padding: 50px;  
}
.swiper-slide h3 {
    position: absolute;
    left: 1000px;
    bottom: 20px;
}
.aid .swiper {
    margin-top: 30px;
}
/* 数据安全 */
.dataSafe {
    height: 600px;
}
.dataSafeWord {
    text-align: center;
}
.dataSafeWord h1 {
    padding-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}
.dataSafeWord a {
    color: #0061cd;
    padding-top: 20px;
}
.dataSafeWord p  {
    padding-top: 10px;
    margin-bottom: 30px;
} 
.dataSafePic ul li {
    width: 200px;
    height: 140px;
    margin-top: 50px;
}
.dataSafePic ul li:nth-child(3),
.dataSafePic ul li:nth-child(4),
.dataSafePic ul li:nth-child(5) {
    box-sizing: border-box;
    padding-top: 12px;
}

.dataSafePic ul li:nth-child(3),
.dataSafePic ul li:nth-child(4),
.dataSafePic ul li:nth-child(5) {
    display: block;
    height: 30px;
    padding: 20px 0;
}
.dataSafePic span {
    display: block;
    height: 30px;
    padding: 10px 0;
}
.freeTrial {
    height: 140px;
    background: #0061cd url(../assets/images/login-register-bg.svg) no-repeat center top;
    padding: 60px 0;
    text-align: center;
    width: 100%;
}
.freeTrial p {
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}

.freeTrial button {
    background: #0061cd;
    border: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 50px;
}
/* 底部 */
.mapSite {
    /* border: 1px solid red; */
    height: 340px;
}

.mapSite-1 ul {
    margin-right: 45px;
}

.mapSite-1 li {
    color: #aaa;
    margin: 20px 30px 20px 0;
}

.mapSite-1 .big a {
    font-weight: 700;
    color: black;
}

.mapSite-1 .big {
    margin-bottom: 50px;
}

.mapSite-2 h3 {
    margin: 20px 0 10px 0;
}

.mapSite-2 span {
    display: block;
    color: #aaa;
    font-size: 14px;
    text-align: right;
    margin: 0 20px 40px 0;
}
.footer p {
    font-size: 14px;
    color: #aaa;
    display: inline-block;
}

.footer span {
    font-size: 14px;
    color: #aaa;
    display: inline-block;
    margin-bottom: 15px;
}